        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
      

*{
    margin: 0;
    padding: 0;
}   
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.Orange{
    color: #FEA301;
}

.Sky-Blue {
    color: #01ACFD;
}
.greyish-blue{
    color: #05D4DF;
}

.purple{
    cursor: #5D58EF;
}

.black {
    color: #111111;
}

.display-flex {
    display: flex;
    align-items: center;

}


/* Nav bar style */
nav{
    margin-top: 20px;
}

.logo{
    height: 60px;
    width: 60px;
}
h3{
    font-size: 2rem;
    font-weight: 700;
}
.nav-bar{
    justify-content: space-evenly;
}

.nav-title{
    margin-left: 10px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-link{
    text-decoration: none;
}

.nav-btn {
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
    font-size: 1.2rem;
    font-weight: 500;

}

.ham-menu {
    display: none;
    width: 30px;
    height: 30px;
}

/* banner style */

.banner {
    margin: 0 140px;
}

.banner-title {
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 24px;

}

.banner-img {
    height: 575px;
    width: 470px;

}

.banner-btn {
    color: white;
    background-color:#111111;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 24px;
}



@media screen and (max-width: 576px) {

     .nav-title, .nav-link, .nav-item, .nav-btn { 
            display: none;

        }
        .display-flex {
            align-items: start;

        }
    .nav-bar{
        justify-content: space-between;
        align-items: center;
        border: 1px solid #FEA301;
        height: 70px;
        width: calc(100%-4px);
        margin: 0;
    }
    .ham-menu {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    

    /* banner style */

    .banner {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 10px;
        text-align: center;
        
    }
    .banner-title{
        font-size: 2rem;
        font-weight: 700;
        margin: 10px;
    }
    .banner-img{
        /* margin: 10px; */

        width: 100%;
    }



    
}
    
