        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
      

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.Orange{
    color: #FEA301;
}

.Sky-Blue {
    color: #01ACFD;
}
.greyish-blue{
    color: #05D4DF;
}

.purple{
    cursor: #5D58EF;
}

.display-flex {
    display: flex;
    align-items: center;

}

/* Nav bar style */

.logo{
    height: 60px;
    width: 60px;
}
h3{
    font-size: 2rem;
    font-weight: 700;
}
.nav-bar{
    justify-content: space-evenly;
}

.nav-title{
    margin-left: 10px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-link{
    text-decoration: none;
}

.nav-btn {
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;

}
